* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.container {
    width: 90%;
    margin: 0 auto;
}

header, footer {
    background-color: darkgreen;
    color: white;
}

header li {
    list-style-type: none;
}

header a {
    color: white;
    margin: 0;
    padding: 1.2em;
}

header a:hover {
    color: darkgreen;
    background-color: white;
}

header div {
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
}

a {
    text-decoration: none;
}

main .container > div {
    margin: 2em;
}

main p {
    margin: 1em 0;
}

h2 {
    padding: 1.5em 0;
}

h3 {
    padding: 1em 0;
}

main li {
    padding: .2em 0;
}

#projetos ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#projetos li {
    list-style-type: none;
}

a img {
    width: 300px;
}

form input, form label, form textarea {
    display: block;
}

form label {
    padding: 1em 0;
}

form input, form textarea {
    font-size: 1em;
}

#enviar {
    font-size: 1em;
    padding: .75em;
    background-color: darkgreen;
    color: white;
    border-radius: 10px;
    margin-top: 1em;
}

footer {
    text-align: center;
    padding: 1.5em 0;
}

.icon {
    width: 50px;
}

.midias-sociais a {
    padding: 0 2em;
}

.rodape {
    margin-top: 3em;
}

.imagem-projeto {
    width: 100%;
}